<script type="text/javascript" src="path-to-mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="grid">
  <div class="row">
    <div class="span10 offset1"> 
      Recuerde que una gramática $G$ es una cuaterna $G =(\Sigma,V,P,S)$.
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1"> 
      <ol>
        <li>$\Sigma$ es el conjunto de terminales. 
        <li>$V$ es un conjunto (disjunto de $\Sigma$) que se denomina conjunto de <i>variables sintácticas</i> o <i>categorías gramáticales</i>,
        <li>$P$ es un conjunto de pares de $V \times (V \cup \Sigma )^*$. En vez de escribir
        un par usando la notación $(A, \alpha) \in P$ se escribe $A \rightarrow \alpha$.
        Un elemento de $P$ se denomina producción. 
        <li>Por último, $S$ es un símbolo del conjunto
        $V$ que se denomina símbolo de arranque.
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1"> 
      <ol>
        <li> $\Sigma = \{ ID, NUM, CONST, ".", ",", =, ;, VAR, PROCEDURE, CALL, BEGIN, END$$, IF, THEN, ELSE, WHILE, DO, ODD, =, ==, !=, <, <=, >, >=, +, -, *, /, (, ) \}$, 
        <li> $V = \{ program, block, statement, condition, expression, term, factor \}$  <br />
        <li> Prioridad de operadores aritméticos $ = \{ - unario, /, *, -, + \} $ (hundimiento a izquierdas).
        <li> Reglas de producción:
          <ol>
            <li> $program \rightarrow block$ '.'
            <li> $block \rightarrow$ $($'CONST' $ID$ '=' $NUM$ $($',' $ID$ '=' $NUM$$)$* ';'$)?$  $($'VAR' $ID$ $($',' $ID$$)$* ';'$)?$ $($'PROCEDURE' $ID$ $($'(' $( ID ($ ',' $ID )*)?$ ')'$)?$ ';' $block$ ';'$)*$ $statement$
            <li> $statement \rightarrow$ $ID$ '=' $expression \vert$ 'CALL' $ID$ $($'(' $( (ID\vert NUM) ($ ',' $(ID\vert NUM) )*)?$ ')'$)?$ $\vert$ 'BEGIN' $statement$ $($';' $statement)*$ 'END' $\vert$ <br>'IF' $condition$ 'THEN' $statement$ 'ELSE' $statement$ $\vert$ 'IF' $condition$ 'THEN' $statement \vert$ 'WHILE' $condition$ 'DO' $statement$
            <li> $condition \rightarrow$ 'ODD' $expression \vert expression$ $($'=='$\vert$'!='$\vert$'<'$\vert$'<='$\vert$'>'$\vert$'>='$)$ $expression$
            <li> $expression \rightarrow$ $expression$ '+' $expression \vert$ $expression$ '-' $expression \vert$ $expression$ '*' $expression \vert$ $expression$ '/' $expression \vert$ '(' $expression$ ')'
          </ol>
        <li> Expresión de arranque: $program$
      </ol>
    </div>
  </div>
</div>

